{%extends "home/base.html"%}
{%block content%}
{% load static %}
<div class="container bg-white text-dark">
    <div class="row">
        
<style>
    .crops {
        width: 20px;
        height: 20px;
        object-fit: cover;
        border-radius: 50%;
    }
    .crops1 {
        width: 548x;
        height: 48px;
        object-fit: cover;
        border-radius: 50%;
    }
    .form-group2 {
        position: absolute;

        top: 14%;
        right: 10%;
        width: 10%;
        transform: translateY(-50%);
    }

    .form-group3 {
        position: absolute;

        top: 14%;
        right: 15%;
        width: 10%;
        transform: translateY(-50%);
    }

   

 

</style>

<!-- <h1 class="bg-light text-dark">Title : {{post.title}}</h1> -->

{%if user.is_authenticated and user == post.creator%}
<form method="GET" action="/edit/">
    <input type="hidden" value="{{post.url}}" name="post_url">
    <input type="hidden" value={{user}} name="user">
    <div class="form-group2">
    
        <button type="submit" class="btn btn-primary">
            <i class="far fa-edit"></i> Edit
        </button>
    </div>
</form>

{%endif%}

<form method="POST" action="/deletep/">
    {% csrf_token %}
    <input type="hidden" value="{{post.url}}" name="post_url">
    <input type="hidden" value={{user}} name="user">
    <div class="form-group3">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">
            <i class="fas fa-trash-alt"></i> Delete
        </button>
    </div>
</form>

<div class="form-group4">
<p class="card-text">{%if not post.creator.profile_picture%}
    <img class="crops1" src="{%static 'home/images/default_user.png'%}">
    {%else%}
    <img class="crops1" src='/{{post.creator.profile_picture.url|slice:"5:"}}'>
    {%endif%}{{post.creator.username}}</p>
</div>
<!-- <h2>Content : </h2> -->
<h3>{{post.content}}</h3>
{%if post.images_set.all|length%}
</div>
<div class="col-md-12">
<!-- <h2>Images : </h2> -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    {%for image in post.images_set.all%}
    <div {% if forloop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
        <img src='/{{image.image.url|slice:"5:"}}' height="787.5px" width="1300px">
    </div>
    {%endfor%}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{%endif%}
</div>

<br>
{%if user.is_authenticated%}
{%if user != post.creator%}
<form method="POST" action="/likep/">
    {% csrf_token %}
    <input type="hidden" value="{{post.url}}" name="post_url">
    <input type="hidden" value={{liked}} name="liked">
    <div class="form-group">
        {%if user not in post.likers.all  %}
        <div class="form-group"></div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-thumbs-up"></i> {{post.likers.all|length}}
        </button>
        </div>
        {%else%}
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-thumbs-up"></i> {{post.likers.all|length}}
        </button>
        {%endif%}
    </div>
</form>
{%else%}
<button class="btn btn-primary" onclick="return alert('You can\'t like your own Post');">
    <i class="fas fa-thumbs-up"></i> {{post.likers.all|length}}
</button>
{%endif%}
{%else%}
<button class="btn btn-primary" onclick="return alert('You are not logged in');">
    <i class="fas fa-thumbs-up"></i> {{post.likers.all|length}}
</button>
{%endif%}
<button class="btn btn-primary" onclick="copyToClipboard(window.location.href.split('/')[2]+'/p/'+'{{post.url}}'+'/')"><i class="fas fa-share"></i>         Share</button>
<br>



{%if post.parent_post.all%}
<h1>Comments:</h1>
<div class="row">
    <div class="comments-list">
        {%for comment in post.parent_post.all%}
        <div class="media">
            <div class="media-body">

                <h4 class="media-heading user_name">{%if not comment.creator.profile_picture%}
                    <img class="crops" src="{%static 'home/images/default_user.png'%}" height="50px">
                    {%else%}
                    <img class="crops" src='/{{comment.creator.profile_picture.url|slice:"5:"}}' height="70px">
                    {%endif%}{{comment.creator.username}}</h4>
                {{comment.content}}

                <!-- Comment like starts -->
                {%if user.is_authenticated%}
                {%if user != comment.creator%}
                <form method="POST" action="/likec/">
                    {% csrf_token %}
                    <input type="hidden" value="{{comment.id}}" name="comment_id">
                    <input type="hidden" value={{user}} name="user">
                    <div class="form-group">
                        {%if user not in comment.likers_comment.all %}
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-thumbs-up"></i> {{comment.likes}}
                        </button>
                        {%else%}
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-thumbs-up"></i> {{comment.likes}}
                        </button>
                        {%endif%}
                    </div>
                </form>
                {%else%}
                <button class="btn btn-primary" onclick="return alert('You can\'t like your own Comment');">
                    <i class="fas fa-thumbs-up"></i> {{comment.likes}}
                </button>
                {%endif%}
                {%else%}
                <button class="btn btn-primary" onclick="return alert('You are not logged in');">
                    <i class="fas fa-thumbs-up"></i> {{comment.likes}}
                </button>
                {%endif%}
                <!-- Comment like ends -->

                {%if comment.creator == user%}
                <form method="GET" action="/editc/">
                    <input type="hidden" value="{{comment.id}}" name="comment_id">
                    <input type="hidden" value={{user}} name="user">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" >
                            <i class="far fa-edit"></i> 
                        </button>
                    </div>
                </form>
                <form method="POST" action="/deletec/">
                    {% csrf_token %}
                    <input type="hidden" value="{{comment.id}}" name="comment_id">
                    <input type="hidden" value={{user}} name="user">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure?');">
                            <i class="fas fa-trash-alt"></i> 
                        </button>
                    </div>
                </form>
                {%endif%}
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%else%}
<h1>No comments yet</h1>
{%endif%}
{%if user.is_authenticated%}
<h3>Comment:</h3>
<form method="POST" action="/comment/">
    {% csrf_token %}
    <input type="hidden" value="{{post.url}}" name="post_url">
    <div class="form-group">
        <label for="content">Comment <span class="require">*</span></label>
        <textarea rows="5" class="form-control" name="content"></textarea>
    </div>
    <div class="form-group">
        <p><span class="require">*</span> - required fields</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Comment
        </button>
    </div>
</form>

<p class="card-text">Created By : 
    {%if not post.creator.profile_picture%}
    <img class="crops" src="{%static 'home/images/default_user.png'%}">
    {%else%}
    <img class="crops" src='/{{post.creator.profile_picture.url|slice:"5:"}}'>
    {%endif%}{{post.creator.username}}</p>
<small class="text-muted">Last updated {{post.updatedTime|timesince}}
    ago</small>
<br>
<small class="text-muted">Created On
    {{post.createdTime|date:"DATETIME_FORMAT"}}
    ago</small>
</div>
</div>
{%else%}

<h3>You need to be logged in to comment.</h3>
{%endif%}
{%endblock%}

