{%extends "home/base.html"%}
{%block content%}
{% load static %}
<div class="container bg-white text-dark">
    <div class="row">

        <style>
            #run-button {
                margin: 0;
                position: absolute;
                top: 70%;
                right: 5%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            .crops {
                width: 20px;
                height: 20px;
                object-fit: cover;
                border-radius: 50%;
            }

            .crops1 {
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: 50%;
            }

            .form-group2 {
                position: absolute;
                z-index: 1;
                top: 13.40%;
                right: 10%;
                width: 10%;
                transform: translateY(-50%);
            }

            .form-group3 {
                position: absolute;

                top: 13.40%;
                right: 15%;
                width: 10%;
                transform: translateY(-50%);
            }

            .form-group7 {
                position: absolute;

                top: 22.65%;
                left: 20.45%;
                width: 10%;
                transform: translateY(-50%);
            }

            .form-group8 {
                position: absolute;

                top: 22.65%;
                left: 24.34%;
                width: 10%;
                transform: translateY(-50%);
            }

            #form-groupa {
                position: absolute;
                left: 20%;
                width: 10%;
            }

            #form-groupb {
                position: absolute;
                left: 25%;
                width: 10%;
            }

            #horizontal-line {
                width: 1400px;
                height: 1px;
                background-color: #D3D3D3;

            }

            #horizontal-line1 {
                width: 1400px;
                height: 1px;
                background-color: #D3D3D3;
            }
        </style>



        {%if user.is_authenticated and user == post.creator%}
        <form method="GET" action="/edit/">
            <input type="hidden" value="{{post.url}}" name="post_url">
            <input type="hidden" value={{user}} name="user">
            <div class="form-group2">

                <button type="submit" class="btn btn-primary">
                    <i class="far fa-edit"></i> Edit
                </button>
            </div>
        </form>

        <form method="POST" action="/deletep/">
            {% csrf_token %}
            <input type="hidden" value="{{post.url}}" name="post_url">
            <input type="hidden" value={{user}} name="user">
            <div class="form-group3">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
            </div>
        </form>

        {%endif%}

        <div class="form-group4">
            <a href="/u/{{user.url}}">
                <p class="card-text">{%if not post.creator.profile_picture%}
                    <img class="crops1" src="{%static 'home/images/default_user.png'%}">
                    {%else%}
                    <img class="crops1" src='/{{post.creator.profile_picture.url|slice:"5:"}}'>
                    {%endif%}{{post.creator.username}}
                </p>
            </a>
        </div>
        <br>
        <br>
        <!-- <div id="horizontal-line"></div> -->

        <h1 class="bg-light text-dark"> {{post.title}}</h1>

        <!-- <div id="horizontal-line1"></div> -->
        <!-- <h2>Content : </h2> -->
        <h3>{{post.content}}</h3>
        {%if post.images_set.all|length%}
        <div class="col-md-12">
            <!-- <h2>Images : </h2> -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {%for image in post.images_set.all%}
                    <div {% if forloop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                        <img src='/{{image.image.url|slice:"5:"}}' height="787.5px" width="1300px">
                    </div>
                    {%endfor%}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                {%endif%}
            </div>
            <br>
            {%if post.code%}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            <input type="hidden" id='saved_code_content' value="{{ code_content }}" />
            <input type="hidden" id='saved_code_lang' value="{{ lang }}" />
            <input type="hidden" id='saved_code_input' value="{{ inp }}" />
            <div class="container">
                <div class="row">
                    <div class="left col-md-12">
                        <div id="editor-topbar">
                            <div class="lang-choose">
                                <select class="form-control" name="lang" id="lang">
                                    <option value="C">C (gcc 4.8.1)</option>
                                    <option value="CPP" selected>C++ (g++ 4.8.1)</option>
                                    <option value="CSHARP">C#</option>
                                    <option value="CLOJURE">Clojure (clojure 1.1.0)</option>
                                    <option value="CSS">CSS</option>
                                    <option value="HASKELL">Haskell (ghc 7.4.1)</option>
                                    <option value="JAVA">Java (openjdk 1.7.0_09)</option>
                                    <option value="JAVASCRIPT">JavaScript</option>
                                    <option value="OBJECTIVEC">Objective-C (clang 3.3)</option>
                                    <option value="PERL">Perl (perl 5.14.2)</option>
                                    <option value="PHP">PHP (php 5.3.10)</option>
                                    <option value="PYTHON">Python (python 2.7.3)</option>
                                    <option value="R">R (RScript 2.14.1)</option>
                                    <option value="RUBY">Ruby (ruby 2.1.1)</option>
                                    <option value="RUST">Rust (rustc 1.4.0)</option>
                                    <option value="SCALA">Scala (scalac 2.9.1)</option>
                                </select>
                            </div>
                            <!-- END of lang-choose -->
                            <div id="settings">
                                <form action="/code/" method="GET">
                                    <input type="hidden" value={{post.url}} name="post_url">
                                    <button class="btn btn-primary" id="run-button">Try It Yourself <i
                                            class="fas fa-play" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- END of editor-topbar -->
                        <pre id="editor"></pre>
                        <div id="editor-statusbar"></div>
                    </div>
                    <div class="right col-md-4">
                    </div>
                </div>
                {%endif%}
                <br>
                {%if user.is_authenticated%}
                {%if user != post.creator%}
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <form method="POST" action="/likep/">
                                {% csrf_token %}
                                <input type="hidden" value="{{post.url}}" name="post_url">
                                <input type="hidden" value={{liked}} name="liked">
                                <div class="form-group">
                                    {%if user not in post.likers.all %}
                                    <div class="form-group"></div>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-thumbs-up"></i> {{post.likers.all|length}}
                                    </button>
                                </div>
                                {%else%}
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-thumbs-up"></i> {{post.likers.all|length}}
                                </button>
                                {%endif%}
                            </form>
                            {%else%}
                            <button class="btn btn-primary" onclick="return alert('You can\'t like your own Post');">
                                <i class="fas fa-thumbs-up"></i> {{post.likers.all|length}}
                            </button>
                            {%endif%}
                            {%else%}
                            <button class="btn btn-primary" onclick="return alert('You are not logged in');">
                                <i class="fas fa-thumbs-up"></i> {{post.likers.all|length}}
                            </button>
                            {%endif%}

                        </div>
                        <div class="col-md-2" id="form-groupa">
                            <div class="form-group6">
                                <button class="btn btn-primary"
                                    onclick="copyToClipboard(window.location.href.split('/')[2]+'/p/'+'{{post.url}}'+'/')"><i
                                        class="fas fa-share"></i> Share</button>
                            </div>
                        </div>
                        <div class="col-md-1" id="form-groupb">
                            <div class="form-group5">
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample"
                                    role="button" aria-expanded="false" aria-controls="collapseExample"
                                    style='color:white!important'>
                                    Comments
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <!-- // Your Code for Comments -->
                        {%if post.parent_post.all%}
                        <h1>Comments:</h1>
                        <div class="row">
                            <div class="comments-list">
                                {%for comment in post.parent_post.all%}
                                <div class="media">
                                    <div class="media-body">
                                        <a href="/u/{{comment.creator.url}}">
                                            <h4 class="media-heading user_name">
                                                {%if not comment.creator.profile_picture%}
                                                <img class="crops" src="{%static 'home/images/default_user.png'%}"
                                                    height="50px">
                                                {%else%}
                                                <img class="crops"
                                                    src='/{{comment.creator.profile_picture.url|slice:"5:"}}'
                                                    height="70px">
                                                {%endif%}{{comment.creator.username}}
                                            </h4>
                                        </a>
                                        {{comment.content}}

                                        <!-- Comment like starts -->
                                        {%if user.is_authenticated%}
                                        {%if user != comment.creator%}
                                        <form method="POST" action="/likec/">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{comment.id}}" name="comment_id">
                                            <input type="hidden" value={{user}} name="user">
                                            <div class="form-group">
                                                {%if user not in comment.likers_comment.all %}

                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fas fa-thumbs-up"></i> {{comment.likes}}
                                                </button>

                                                {%else%}
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="fas fa-thumbs-up"></i> {{comment.likes}}
                                                </button>
                                                {%endif%}
                                            </div>
                                        </form>
                                        {%else%}
                                        <button class="btn btn-primary"
                                            onclick="return alert('You can\'t like your own Comment');">
                                            <i class="fas fa-thumbs-up"></i> {{comment.likes}}
                                        </button>
                                        {%endif%}
                                        {%else%}
                                        <button class="btn btn-primary"
                                            onclick="return alert('You are not logged in');">
                                            <i class="fas fa-thumbs-up"></i> {{comment.likes}}
                                        </button>
                                        {%endif%}
                                        <!-- Comment like ends -->

                                        {%if comment.creator == user%}
                                        <form method="GET" action="/editc/">
                                            <input type="hidden" value="{{comment.id}}" name="comment_id">
                                            <input type="hidden" value={{user}} name="user">
                                            <div class="form-group">
                                                <div class="form-group7">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="far fa-edit"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <form method="POST" action="/deletec/">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{comment.id}}" name="comment_id">
                                            <input type="hidden" value={{user}} name="user">
                                            <div class="form-group">
                                                <div class="form-group8">
                                                    <button type="submit" class="btn btn-primary"
                                                        onclick="return confirm('Are you sure?');">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        {%endif%}
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        {%else%}
                        <h1>No comments yet</h1>
                        {%endif%}
                        {%if user.is_authenticated%}
                    </div>
                </div>

                <a href="/u/{{post.creator.url}}">
                    <p class="card-text">Created By :
                        {%if not post.creator.profile_picture%}
                        <img class="crops" src="{%static 'home/images/default_user.png'%}">
                        {%else%}
                        <img class="crops" src='/{{post.creator.profile_picture.url|slice:"5:"}}'>
                        {%endif%}{{post.creator.username}}
                    </p>
                </a>
                <small class="text-muted">Last updated {{post.updatedTime|timesince}}
                    ago</small>
                <br>
                <small class="text-muted">Created On
                    {{post.createdTime|date:"DATETIME_FORMAT"}}
                    ago</small>
                {%else%}

                <h3>You need to be logged in to comment.</h3>
                {%endif%}
                {%if user.is_authenticated%}
                <div class="bg-white">
                    <h3>Comment:</h3>
                    <form method="POST" action="/comment/" class=>
                        {% csrf_token %}
                        <input type="hidden" value="{{post.url}}" name="post_url">
                        <div class="form-group">
                            <label for="content">Comment <span class="require">*</span></label>
                            <textarea rows="5" class="form-control" name="content"></textarea>
                        </div>
                        <div class="form-group">
                            <p><span class="require">*</span> - required fields</p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Comment
                            </button>
                        </div>
                    </form>
                </div>
                {%endif%}
            </div>
        </div>
    </div>

</div>
<script src="{% static 'home/js/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'home/js/view.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'home/js/FileSaver.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'home/js/jszip.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'home/ace-builds/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'home/ace-builds/src/ext-statusbar.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'home/ace-builds/src/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
{%endblock%}