{%extends "home/base.html"%}
{%block content%}
<h1 class="bg-light text-dark">Username : {{this_user.username}}</h1>
<h1 class="bg-light text-dark">First Name : {{this_user.first_name}}</h1>
<h1 class="bg-light text-dark">Last Name : {{this_user.last_name}}</h1>
<h1 class="bg-light text-dark">Email : {{this_user.email}}</h1>
<h1 class="bg-light text-dark">Followers : {{followers}}</h1>
<h1 class="bg-light text-dark">Follows : {{follows}}</h1>
{%if friend%}
{%if not is_friend%}
<form action="/friend/" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{this_user.username}}" name="friend">
    <button type="submit" class="btn btn-primary">Follow</button>
</form>
{%else%}
<form action="/unfriend/" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{this_user.username}}" name="friend">
    <button type="submit" class="btn btn-danger">Unfollow</button>
</form>
{%endif%}
{%endif%}
<br>
<h1 class="bg-light text-dark">POSTS</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {%for post in posts%}
    <div class="col">
        <div class="card" style="color: black;">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.content}}</p>
                <p class="card-text">Created By : {{post.creator.username}}</p>
                <p class="card-text"><small class="text-muted">Last updated {{post.updatedTime|timesince}}
                        ago</small></p>
                <p class="card-text"><small class="text-muted">Created On
                        {{post.createdTime|date:"DATETIME_FORMAT"}}</small></p>
                <a href="/p/{{post.url}}" class="btn btn-primary">Go to Post</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}